.card {
    position: relative;
    text-align: center;
    background-color: black;
    border: 1px solid white;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    height: 420px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    object-fit: cover;
    opacity: 0.5;
}